<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css"/>
</head>

<body>
    <form method="post">
        <img src="http://www.2ndvote.com/wp-content/uploads/2016/06/time_logo.png" alt="TimeLogo" />
        <div>
            <label for="StartYear">Start Year: </label>
            <input maxlength="4" name="StartYear" />
        </div>

        <div>
            <label for="EndYear">End Year: </label>
            <input maxlength="4" name="EndYear" />
        </div>

        <div>
            <button type="submit">Search</button>
        </div>

    </form>
</body>
